body {
  font-family: Arial, sans-serif;
}

header {
  padding: 10px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav ul li{
  display: inline;
  margin-right: 10px;
}

nav ul li a{
  color: #555;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}

nav ul li a:hover{
  text-decoration: underline;
}

main{
  margin: 20px;
  text-align: center;
}

.google-logo{
  padding-top: 175px;
  width: 275px;
  margin-bottom: 20px;
}


#lucky-button  {
  color:#555;
  text-decoration: none;
}

#lucky-button a:hover {
  text-decoration: underline;
}

.blue-button {
  background-color: #4285F4 !important;
  color: #fff !important;
  border-radius: 5px;
}

.search-bar{
  margin-bottom: 20px;
}

.search-bar input[type="text"]{
  width: 400px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  display: inline;
}

.search-bar input[type="submit"]{
  font-size: 15px;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  display: inline;
  color: #555;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
}

#RNNXgb {
  display: flex;
  z-index: 3;
  position: relative;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 500px;
  height: 40px;
  margin-bottom: 20px;
}

#google{
  width: 100px;
  align-items: start;
}

.advanced-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: small;
}

.advancedsubheading{
  border-bottom: 1px solid #ebebeb;
}

.advancedsubheading h3{
  color: #d93025;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-top: 15px;
  font-weight: normal;
}

.inputone .textdesheading{
  font-size: 16px;
  min-width: 167px;
  width: 16%;
  font-weight: 500;
  color: #333;
}

.inputone{
  display: flex;
  align-items: center;
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}

.inputone .textdes {
  width: 200px;
  font-size: 13px;
}

.inputone .inputfield{
  min-width: 167px;
  width: 50%;
}
.inputone .inputfield input{
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  width: 100%;
}

.inputone .todo {
  width: 32%;
  min-width: 16px;
  color: #555;
  font-size: 11px;
  padding-left: 30px;
}

span{
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.inputone .button{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.button input{
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  color: #fff;
  height: 30px;
  min-width: 120px;
  border: 1px solid #3079ed;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
}

#pn{
  color: #555;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}

#pn:hover{
  text-decoration: underline;
}
